
html,
body {
  
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: var(--color) !important;
    background-color: white !important;
   
    
}



a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
    /* max-width: 200px; */
  }
}
@media (max-width: 991px) {
  body .container-fluid{
  --bs-gutter-x:0px !important;
}
  
header {
    color: white;
    /* background: black; */
    /* max-width: 200px; */
    width: device-width !important;
zoom: 1.1 !important;
min-zoom: 0.4 !important;
max-zoom: 4 !important;
user-zoom: fixed !important
  }
footer {
    color: white;
    /* background: black; */
    /* max-width: 200px; */
    width: device-width !important;
zoom: 1.1 !important;
min-zoom: 0.4 !important;
max-zoom: 2 !important;
user-zoom: fixed !important
  }
 icon-box{
    color: white;
    /* background: black; */
    /* max-width: 200px; */
    width: device-width !important;
zoom: 1.4 !important;
min-zoom: 0.4 !important;
max-zoom: 2 !important;
user-zoom: fixed !important
  }

}
